1.1.1.Presentation.ServiceAgents/Service References/Proxy.GestionContenido/GestionContenidoService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Olimpiadas.Application.Dto.Fault" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Olimpiadas.Application.Dto.Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceErrorResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:ServiceErrorResponseTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceErrorResponseDto" nillable="true" type="tns:ServiceErrorResponseDto" />
  <xs:simpleType name="ServiceErrorResponseTypeDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ErrorNoManejado" />
      <xs:enumeration value="ErrorBaseDatos" />
      <xs:enumeration value="ErrorComunicacionSoap" />
      <xs:enumeration value="ErrorTiempoConexion" />
      <xs:enumeration value="AccesoDenegado" />
      <xs:enumeration value="ErrorNegocio" />
      <xs:enumeration value="NoImplementado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceErrorResponseTypeDto" nillable="true" type="tns:ServiceErrorResponseTypeDto" />
</xs:schema>